.QuoteCard{
    position: relative;
    margin: auto;
    background-color: #fff;
    color: #2ebf91;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 3px 4px  20px #999;
    transition: ease-in 2s;
}
.QuoteCard >h1{
    text-align: center;

}
.QuoteCard>p{
    text-align: right;
}
.QuoteCard>i{
    font-size: 20px;
    text-align: right;
    right: 0;
    position: absolute;
    margin-right: 30px;
}